
@{
    ViewBag.Title = "CartNoProduct";
    Layout = "~/Views/Shared/_Layout_cart.cshtml";
}

<h2 style="color:black;">Quý Khách Chưa Có Sản Phẩm nào !!!</h2>
<img src="https://bizweb.dktcdn.net/100/401/953/themes/785928/assets/empty_cart.png?1614590460628" />

<i style="height:110px;"></i>



