
@{
    ViewBag.Title = "ViewSanPham";
    Layout = "~/Views/Shared/_ViewProduct.cshtml";
}
<style>
    .row {
        display: flex;
        margin: 50px;
        flex-wrap: wrap;
    }

    .card {
        background-color: white;
        width: 250px;
        height: 320px;
        margin-top: 1em;
        align-items: center;
        margin-right: 20px;
        border-radius: 10px;
        box-shadow: 100px 100px 100px rgba(110, 107, 107, 0.08);
    }

    #font-chu {
        font-size: 18px;
        text-align: center;
        color: black;
        width: 200px;
        margin: 20px;
        padding-top: 20px;
    }


    #slideshow {
        margin-left: 5%;
    }
</style>


<div id="slideshow">
    <div class="row">
        <a href="#">
            <div class="card">
                <div id="font-chu">
                    <p class="font-text">Banh mi nuong</p>
                    <p class="font-text">kho</p>
                    <p class="font-text">loai 1</p>
                    <p class="font-text">10000 đồng</p>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="card">
                <div id="font-chu">
                    <p class="font-text">Banh mi nuong</p>
                    <p class="font-text">kho</p>
                    <p class="font-text">loai 1</p>
                    <p class="font-text">10000 đồng</p>
                </div>
            </div>
        </a><a href="#">
            <div class="card">
                <div id="font-chu">
                    <p class="font-text">Banh mi nuong</p>
                    <p class="font-text">kho</p>
                    <p class="font-text">loai 1</p>
                    <p class="font-text">10000 đồng</p>
                </div>
            </div>
        </a><a href="#">
            <div class="card">
                <div id="font-chu">
                    <p class="font-text">Banh mi nuong</p>
                    <p class="font-text">kho</p>
                    <p class="font-text">loai 1</p>
                    <p class="font-text">10000 đồng</p>
                </div>
            </div>
        </a><a href="#">
            <div class="card">
                <div id="font-chu">
                    <p class="font-text">Banh mi nuong</p>
                    <p class="font-text">kho</p>
                    <p class="font-text">loai 1</p>
                    <p class="font-text">10000 đồng</p>
                </div>
            </div>
        </a><a href="#">
            <div class="card">
                <div id="font-chu">
                    <p class="font-text">Banh mi nuong</p>
                    <p class="font-text">kho</p>
                    <p class="font-text">loai 1</p>
                    <p class="font-text">10000 đồng</p>
                </div>
            </div>
        </a><a href="#">
            <div class="card">
                <div id="font-chu">
                    <p class="font-text">Banh mi nuong</p>
                    <p class="font-text">kho</p>
                    <p class="font-text">loai 1</p>
                    <p class="font-text">10000 đồng</p>
                </div>
            </div>
        </a><a href="#">
            <div class="card">
                <div id="font-chu">
                    <p class="font-text">Banh mi nuong</p>
                    <p class="font-text">kho</p>
                    <p class="font-text">loai 1</p>
                    <p class="font-text">10000 đồng</p>
                </div>
            </div>
        </a>


    </div>
</div>




