
@{
    ViewBag.Title = "ViewSanPham";
    Layout = "~/Views/Shared/_ViewProduct.cshtml";
}
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
        padding: 30px;
    }

    .price {
        color: grey;
        font-size: 22px;
    }

    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color:orangered;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }
    .row {
        display: flex;
        margin: 50px;
        flex-wrap: wrap;
    }

    .card button:hover {
        opacity: 0.7;
    }
</style>
<body>

    <div class="row">
        <div class="card">
            <img src="https://cdn.tgdd.vn/Files/2017/03/22/963765/cach-lam-ga-ran-thom-ngon-8_760x450.jpg" style="width:100%">
            <h1>Gà rán</h1>
            <p class="price">30.000</p>
            <p>Nó là gà rán lên.</p>
            <p><button>Thêm vào giỏ hàng</button></p>
        </div>
        <div class="card">
            <img src="https://cdn.tgdd.vn/Files/2017/03/22/963765/cach-lam-ga-ran-thom-ngon-8_760x450.jpg" style="width:100%">
            <h1>Gà rán</h1>
            <p class="price">30.000</p>
            <p>Nó là gà rán lên.</p>
            <p><button>Thêm vào giỏ hàng</button></p>
        </div>
        <div class="card">
            <img src="https://cdn.tgdd.vn/Files/2017/03/22/963765/cach-lam-ga-ran-thom-ngon-8_760x450.jpg" style="width:100%">
            <h1>Gà rán</h1>
            <p class="price">30.000</p>
            <p>Nó là gà rán lên.</p>
            <p><button>Thêm vào giỏ hàng</button></p>
        </div>
        <div class="card">
            <img src="https://cdn.tgdd.vn/Files/2017/03/22/963765/cach-lam-ga-ran-thom-ngon-8_760x450.jpg" style="width:100%">
            <h1>Gà rán</h1>
            <p class="price">30.000</p>
            <p>Nó là gà rán lên.</p>
            <p><button>Thêm vào giỏ hàng</button></p>
        </div>
        <div class="card">
            <img src="https://cdn.tgdd.vn/Files/2017/03/22/963765/cach-lam-ga-ran-thom-ngon-8_760x450.jpg" style="width:100%">
            <h1>Gà rán</h1>
            <p class="price">30.000</p>
            <p>Nó là gà rán lên.</p>
            <p><button>Thêm vào giỏ hàng</button></p>
        </div>
        <div class="card">
            <img src="https://cdn.tgdd.vn/Files/2017/03/22/963765/cach-lam-ga-ran-thom-ngon-8_760x450.jpg" style="width:100%">
            <h1>Gà rán</h1>
            <p class="price">30.000</p>
            <p>Nó là gà rán lên.</p>
            <p><button>Thêm vào giỏ hàng</button></p>
        </div>
        <div class="card">
            <img src="https://cdn.tgdd.vn/Files/2017/03/22/963765/cach-lam-ga-ran-thom-ngon-8_760x450.jpg" style="width:100%">
            <h1>Gà rán</h1>
            <p class="price">30.000</p>
            <p>Nó là gà rán lên.</p>
            <p><button>Thêm vào giỏ hàng</button></p>
        </div>
        <div class="card">
            <img src="https://cdn.tgdd.vn/Files/2017/03/22/963765/cach-lam-ga-ran-thom-ngon-8_760x450.jpg" style="width:100%">
            <h1>Gà rán</h1>
            <p class="price">30.000</p>
            <p>Nó là gà rán lên.</p>
            <p><button>Thêm vào giỏ hàng</button></p>
        </div>
    </div>

</body>





