<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <script src="https://kit.fontawesome.com/c0b1a641d5.js" crossorigin="anonymous"></script>
    <style>
        body {
            width: 100%;
            height: 100%;
        }

        .header {
            display: flex;
            width: 100%;
            justify-content: center;
            background-color: white;
            /*width: 80px;*/
            height: 80px;
            margin-bottom: 20px;
        }

            .header .main_header {
                width: 80%;
                display: flex;
                justify-content: space-around;
                align-content: center;
                align-items: center;
            }

        .nav_header ul li {
            margin-right: 15px;
            font-size: 17px;
        }

            .nav_header ul li:hover {
                color: orangered;
            }

        .container {
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="main_header">
            <img src="https://shopeefood.vn/app/assets/img/shopeefoodvn.png?4aa1a38e8da801f4029b80734905f3f7" style="object-fit:cover; width: 150px" />
            <p> TP.HCM</p>
            <div class="nav_header">
                <ul style="display: flex;margin-right: 550px;list-style:none">
                    <li style="color: orangered;">Đồ Ăn</li>
                    <li> Đồ uống</li>
                </ul>
            </div>
            <div class="">
                <i class="fas fa-search search-icon" style="font-size: 20px; margin-right: 10px;"></i>
                <a href="Login/Dangnhap" class="login-button ahrf" style="padding: 8px 16px; border: 1px solid orangered; color: orangered;  border-radius: 5px; cursor: pointer; ">Đăng nhập</a>
                <a href="Login/Dangnhap" class="login-button ahrf" style="padding: 8px 16px; border: 1px solid orangered; color: orangered;  border-radius: 5px; cursor: pointer; ">Đăng Kí</a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>
</body>
</html>